<% if not @juris.empty? %>
			<h3 style="text-align: center">Juriprudências para [ <%= link_to @crime.nome, @crime %> ]</h3>
			<% @juris.each do |juri| %>
			<p style="text-align: justify">
			<%= textilize juri.corpo %>
			</p>
			<p>
			<b>Orgão:</b>
			<%= juri.orgao %>
			</p>
			<p>
			<b>Referência:</b>
			<%= textilize juri.ref %>
			</p>
			<hr class="thick" />
			<% end %>
<% else %>
	<h3>Não foram cadastradas jurisprudências...</h3>
<% end %>
<br/>
<h3><a>Adicione uma jurisprudência:</a></h3>
<%= render "juris/form"%>