<%= form_for([:admin, @crime, @caso]) do |f| %>
  <div class="field">
    <%= f.text_field :autor, :size => "70", :placeholder => "Autor", :class => "autor" %> <%= f.check_box :ativo, :class => "ativo" %> Ativo?
  </div>
  <div class="field">
    <%= f.text_area :corpo, :cols => "69", :rows => "7", :placeholder => "Corpo", :class => "corpo" %>
  </div>
  <div class="field">
    <%= f.text_field :ref, :size => "70", :placeholder => "Referência", :class => "ref" %>
  </div>
  <div class="actions">
    <%= f.submit "Gravar", :disable_with => "Aguarde..." %> ou <%= link_to "Cancelar", admin_crime_casos_path(@crime.id) %>
  </div>
<% end %>