<%= form_for([@crime, @crime.qts.build]) do |f| %>  
  <div class="field">
    <%= f.text_field :assertiva, :size => "65", :placeholder => "Assertiva", :class => "assertiva" %>
    <%= f.select :resposta, options_for_select([["CERTO", "C"], ["ERRADO", "E"]]), :class => "resposta" %>
  </div>
<hr/>
    <%= f.submit "Gravar", :disable_with => "Aguarde...",  :class => "btn btn-primary"%> ou <%= link_to "Cancelar", @crime %>
<% end %>