<% if not @qts.empty? %> <h3 style="text-align: center"><a>Quest천es para <%= @crime.nome %></a></h3>
<% @qts.each do |qt| %>
	<% if not qt.ativo %>
	[ Desativado ]
	<% else %>
	[ Ativado ]
	<% end %>
<p style="text-align: justify">
	<%= link_to qt.assertiva.capitalize, [:edit, :admin, qt.crime, qt] %>
	<%= link_to image_tag("remov.png", :size => "16x16"), [:admin, qt.crime, qt], :confirm => 'Tem certeza?', :method => :delete %> </h3>
</p>
<p>
	<b>Resposta:</b>
	<%= qt.resposta %>
</p>
<% end %>
<% else %>
<h3>N찾o foram cadastradas quest천es...</h3>
<p style="text-align: center">
	<%= link_to "[ Voltar ]", [:admin, @crime] %>
</p>
<% end %>
<hr class="thick" />
<%= link_to "Inserir Quest찾o", new_admin_crime_qt_path, :class => "button" %>