<% content_for :sidebar do %>
<ul>
	<li>
		<h2>Pesquise:</h2>
		<div id="search" >
			<%= form_tag crimes_path, :method => :get do %>
			<%= text_field_tag :search, "",
			:placeholder => "Nomen Juris OU Capitulação",
			:size => 50,
			:type => "search",
			:class => "search-text" %>
			<% end %>
			<p style="text-align: justify">
				[ pesquise por nome do crime ou por palavra contida na capitulação do crime ]
			</p>
		</div>
		<div style="clear: both;">
			&nbsp;
		</div>
	</li>
</ul>
<% end %>
<p>
	<h2>Listando Crimes (<%= @crimes.count %>)</h2>
</p>
<br/>
<% @crimes.each do |crime| %>
<hr class="thick" />
<div class="entry">
	<h3 style="text-align: center"><em><%= link_to crime.nome, crime %></em></h3>
	<p class="valor">
		<b>Capitulação: </b><br/><em><%= crime.capit %> </em>
	</p>
	<p class="valor">
		<b>Pena: </b><br/><em><%= crime.pena %> </em>
	</p>	
	<p class="links" style="text-align: center">
		<%= link_to "ESPÉCIES(#{crime.modalidades.count.to_s})", crime_modalidades_path(crime.id), :class =>"button" %> 
		<%= link_to "DOUTRINAS(#{crime.doutrinas.count.to_s})", crime_doutrinas_path(crime.id), :class =>"button" %>
		<%= link_to "JURISPRUDÊNCIAS(#{crime.juris.count.to_s})", crime_juris_path(crime.id), :class =>"button" %>
		<%= link_to "CASOS(#{crime.casos.count.to_s})", crime_casos_path(crime.id), :class =>"button" %>
		<%= link_to "TEMAS(#{crime.temas.count.to_s})", crime_temas_path(crime.id), :class =>"button" %> 
		<%= link_to "QUESTÕES(#{crime.qts.count.to_s})", crime_qts_path(crime.id), :class =>"button" %>
	</p>
</div>
<% end %>
<% if @crimes.count >= 2 %>
<p style="text-align: right">
	<%= link_to( image_tag("up.png", :size => "32x32"), "#", :title => "Subir") %>
</p>
<% end %>