<div class="row">
	<div class="span8">
		<h2 style="text-align: center"> [ <a>LISTANDO <%= @crimes.count %> CRIME(S)</a> ]</h2>
		<% @crimes.each do |crime| %>
		<hr class="thick" />
		<div class="entry">
			<h3 style="text-align: center"><%= link_to crime.nome, crime, :title => "Clique para abrir o crime" %></h3>
			<hr class="point" />
			<p class="valor">
				<b>Capitulação: </b>
				<%= crime.capit %>
			</p>
			<p class="valor">
				<b>Pena: </b>
				<%= crime.pena %>
			</p>
		</div>
		<% end %>
	</div>
	<%= render "pesquisa" %>
</div>