<div class="row">
	<div class="span12">
		<h3 style="text-align: center"><a><%= @crime.nome %></a></h3>
		<hr class="thick" />
		<p>
			<b>Capitulação: </b>
			<%= @crime.capit %>
		</p>
		<p>
			<b>Pena: </b>
			<%= @crime.pena %>
		</p>
		<p>
			<b>Ação Penal: </b>
			<%= @crime.acao_penal %>
		</p>
		<p>
			<b>Competência: </b>
			<%= @crime.competencia %>
		</p>
		<div class="tabbable tabs-below">
			<ul class="nav nav-tabs">
				<li class="active">
					<a href="#lF" data-toggle="tab">Artigo</a>
				</li>
				<li>
					<a href="#lA" data-toggle="tab">Doutrinas</a>
				</li>
				<li>
					<a href="#lC" data-toggle="tab">Casos</a>
				</li>
				<li>
					<a href="#lB" data-toggle="tab">Temas Relacionados</a>
				</li>
				<li>
					<a href="#lE" data-toggle="tab">Jurisprudências</a>
				</li>
				<li>
					<a href="#lD" data-toggle="tab">Questões</a>
				</li>				
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="lF">
					<%= textilize @crime.base %>
				</div>
				<div class="tab-pane" id="lA">
					<%= render "doutrinas/index"%>
				</div>
				<div class="tab-pane" id="lC">
					<%= render "casos/index"%>
				</div>
				<div class="tab-pane" id="lB">
					<%= render "temas/index"%>
				</div>
				<div class="tab-pane" id="lD">
					<%= render "qts/index"%>
				</div>
				<div class="tab-pane" id="lE">
					<%= render "juris/index"%>
				</div>				
			</div>
		</div>

	</div>
</div>	