<div class="row">
	<div class="span12">	
		<p>Acesso rápido ao texto legal: (clique no link) </p>
		<a onclick="TINY.box.show({iframe:'http://www.planalto.gov.br/ccivil_03/decreto-lei/del2848compilado.htm',boxid:'frameless',width:750,height:450,fixed:false,maskid:'bluemask',maskopacity:40,closejs:function(){closeJS()}})"> [ CÓDIGO PENAL ] </a>
		| <a onclick="TINY.box.show({iframe:'http://www.planalto.gov.br/ccivil_03/leis/2003/L10.826.htm',boxid:'frameless',width:750,height:450,fixed:false,maskid:'bluemask',maskopacity:40,closejs:function(){closeJS()}})"> [ LEI - 10.826/2003 ] - ARMAS </a>
		| <a onclick="TINY.box.show({iframe:'http://www.planalto.gov.br/ccivil_03/_ato2004-2006/2006/lei/l11340.htm',boxid:'frameless',width:750,height:450,fixed:false,maskid:'bluemask',maskopacity:40,closejs:function(){closeJS()}})"> [ LEI - 11.340/2006 ] - Mª PENHA </a>
		| <a onclick="TINY.box.show({iframe:'http://www.planalto.gov.br/ccivil_03/_ato2004-2006/2006/lei/l11343.htm',boxid:'frameless',width:750,height:450,fixed:false,maskid:'bluemask',maskopacity:40,closejs:function(){closeJS()}})"> [ LEI - 11.343/2006 ] - DROGAS </a>
		<hr class="thick" />
	</div>	
	<div class="span12">
		<h3 style="text-align: center"><a><%= @crime.nome.upcase %></a></h3>		
		<hr class="thick" />
		<p>
			<b>Capitulação: </b>
			<%= @crime.capit %>
		</p>
		<p>
			<b>Pena: </b>
			<%= @crime.pena %>
		</p>
		<p>
			<b>Ação Penal: </b>
			<%= @crime.acao_penal %>
		</p>
		<p>
			<b>Competência: </b>
			<%= @crime.competencia %>
		</p>
		<div class="tabbable tabs-below">
			<ul class="nav nav-tabs">
				<li class="active">
					<a href="#lF" data-toggle="tab">Artigo</a>
				</li>
				<li>
					<a href="#lA" data-toggle="tab">Doutrinas</a>
				</li>
				<li>
					<a href="#lC" data-toggle="tab">Casos</a>
				</li>
				<li>
					<a href="#lB" data-toggle="tab">Temas Relacionados</a>
				</li>
				<li>
					<a href="#lE" data-toggle="tab">Jurisprudências</a>
				</li>
				<li>
					<a href="#lD" data-toggle="tab">Questões</a>
				</li>
				<li>
					<a href="#lG" data-toggle="tab">Contribuir</a>
				</li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="lF">
					<%= textilize @crime.base unless @crime.base.nil? %>
				</div>
				<div class="tab-pane" id="lA">
					<%= render "doutrinas/index"%>
				</div>
				<div class="tab-pane" id="lC">
					<%= render "casos/index"%>
				</div>
				<div class="tab-pane" id="lB">
					<%= render "temas/index"%>
				</div>
				<div class="tab-pane" id="lD">
					<%= render "qts/index"%>
				</div>
				<div class="tab-pane" id="lE">
					<%= render "juris/index"%>
				</div>
				<div class="tab-pane" id="lG">
					<%= render "home/contrib"%>
				</div>				
			</div>
		</div>

	</div>
</div>	