<% if not @casos.empty? %>
			<h3 style="text-align: center"><a>Casos para <%= @crime.nome %></a></h3>
			<% @casos.each do |caso| %>
			<p>
			<b>Autor:</b>
			<%= caso.autor %>
			</p>
			<p style="text-align: justify">
			<%= textilize caso.corpo %>
			</p>
			<p>
			<b>Referência:</b>
			<%= caso.ref %>
			</p>
			<hr class="thick" />
			<% end %>
<% else %>
	<h3>Não foram cadastrados casos...</h3>
<% end %>
<br/>
<h3><a>Adicione um caso:</a></h3>
<%= render "casos/form"%>