<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to "Crimes Brasileiros", root_path, id: "logo" %>
			<nav>
				<ul class="nav pull-right">
					<li>
						<%= link_to "INICIO", root_path, :title => "Ir para a página inicial" %>
					</li>
					<li>
						<%= link_to "CRIMES", crimes_path, :title => "Ver crimes" %>
					</li>					
					<li>
						<%= link_to "SENTENÇAS", sentencas_url, :title => "Banco de sentenças" %>
					</li>
					<li>
						<%= link_to "ARG.", arg_url, :title => "Conhecer o assistente de argumentação: ARG." %>
					</li>
					<li>
						<%= link_to "DIC.", dic_url, :title => "Dicionário com as expressões e termos aqui usados" %>
					</li>
					<li>
						<%= link_to "ADMIN", admin_crimes_path, :title => "Entrar no módulo administrativo" %>
					</li>					
				</ul>
			</nav>
		</div>
	</div>
</header>